Repository Brasil-Nihon-Kiin/nihonkiin.com.br, pull requests merged in 2021-02, with the labels that each got.

#14 Update index.html
  index.html
Labels: Conteúdo

#13 Update loja.html
  conteudo/principal/loja/loja.html
Labels: Conteúdo

#11 Update campeoes.html
  conteudo/principal/campeoes/campeoes.html
Labels: Conteúdo

#12 Update redes_sociais.html
  conteudo/principal/redes_sociais/redes_sociais.html
Labels: Conteúdo

#15 Ajusta o layout do poema
  conteudo/artigos/jorge_luis_borges/jorge_luis_borges.html
Labels: Conteúdo, UI/UX

#19 Versão Inicial de Banco de Dados de Jogadores
  .vscode/code.code-snippets
  README.md
  codigo/dados/jogadores.ts
  codigo/dados/jogadores/cadastro_jogador.ts
  codigo/dados/jogadores/enumeradores.ts
  codigo/dados/jogadores/jogadores_db.ts
  codigo/dados/jogadores/lista_jogadores_google_sheets.csv
  codigo/dados/jogadores/modelos_jogadores.ts
  codigo/infra/configuracao.ts
  codigo/ui/perfis_servidores.ts
  codigo/ui/redes_sociais.ts
  codigo/ui/tabela_jogadores.ts
  conteudo/principal/jogadores/cadastro.html
  conteudo/principal/jogadores/jogadores.html
  index.css
  index.html
  index.js
Labels: Bancos de Dados, Pedido de Funcionalidade
